{
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-object-rest-spread"]
    },
    "build": {
      "presets": [["env", { "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}
